@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

.titulo-Veterinaria {
  font-size: 3.6rem;
}

.encabezado {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("https://cdn.euroinnova.edu.es/img/subidasEditor/dise%C3%B1o-sin-t%C3%ADtulo-1619767538.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.acerca {
  background-color: rgba(2, 2, 2, 0.637);
}

.Testimonios {
  background-color: rgba(2, 2, 2, 0.808);
  text-align: center;
  padding: 5rem;
}

.contacto {
  background-color: rgba(17, 16, 16, 0.89);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.navegador {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
}

.elementos-navegador {
  list-style: none;
  margin-top: 2rem;
}

.elemento-navegador {
  display: inline;
  margin-left: 1.5rem;
}

.texto-elemento-navegador {
  text-decoration: none;
  font-size: 1.6rem;
}

.logo .titulo-Veterinaria {
  color: rgb(243, 233, 95);
  font-family: "Balsamiq Sans", cursive;
}

.texto-elemento-navegador:hover {
  color: rgb(243, 233, 95);
  transition: 0.5s ease-in-out;
}

.icono {
  display: none;
}

.contenido-header {
  width: 50%;
  position: relative;
  top: 15%;
  left: 10%;
}

.sub-titulo-Veterinaria {
  font-size: 4rem;
  margin-bottom: 1%;
}

.parrafo {
  font-size: 1.6rem;
  text-align: justify;
}

.formulario-veterinaria {
  margin-top: 3%;
}

input {
  font-size: 1.6rem;
  width: 50%;
}

input[type="text"] {
  color: black;
}

.formulario-veterinaria button {
  display: block;
  color: rgb(60, 70, 21);
  background-color: rgb(243, 233, 95);
  margin-top: 3%;
  width: 50%;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid rgb(243, 233, 95);
  border-radius: 3%;
}

.contenedor-acerca {
  display: flex;
  justify-content: space-around;
}

.titulo-subseccion {
  font-size: 3rem;
}

.descripcion-subseccion {
  font-size: 1.7rem;
}

.quienes-somos,
.historia,
.mision-vision {
  flex-basis: 30%; /*hace que respete los tamanios, evita que se rompa el disenio*/
  padding: 1.6rem;
}

.descripcion {
  font-size: 1.3rem;
  font-weight: 100;
  text-align: justify;
  line-height: 2rem;
  padding: 1rem;
}

.btn {
  background-color: rgb(243, 233, 95);
  color: rgb(60, 70, 21);
  font-size: 1.3rem;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.foto-acerca {
  width: 70%;
  height: 65%;
  margin-left: 10%;
}

.contenedor-testimonios {
  display: flex;
  justify-content: space-between;
  padding: 10rem;
}

.tarjeta-testimonio {
  flex-basis: 50%;
}

.foto-perfil {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 2px solid rgb(60, 70, 21);
}

.datos-cliente {
  display: flex;
}

.nombre-cliente {
  padding: 2.5rem 1.5rem;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-contacto input {
  width: 40rem;
  margin-bottom: 1rem;
  color: black;
}

.formulario-contacto textarea {
  width: 40rem;
  height: 15rem;
  color: black;
  font-size: 1.6rem;
}

.formulario-contacto button {
  width: 40rem;
}

footer {
  background-color: black;
  flex-basis: auto;
  display: flex;
  justify-content: space-between;
}

.redes-sociales {
  width: 20%;
  display: flex;
}

.redes-sociales a i {
  position: relative;
  top: 1rem;
  margin: 0rem 0rem 1rem 1rem;
}

.creador {
  font-size: 1.6rem;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .icono {
    display: block; /* el display flex del padre (nav) se sobrepone 
    se indica el display para mostrarlo*/
    position: absolute;
    right: 40px;
    top: 19px;
  }

  .encabezado {
    background-repeat: repeat-y;
  }

  .navegador {
    flex-direction: column;
  }

  nav ul {
    background-color: rgba(241, 217, 185, 0.377);
    display: none;
    border-radius: 5%;
  }

  .mostrar {
    display: block;
    position: absolute;
    right: 15%;
    top: 5%;
  }

  .navegador .elementos-navegador .elemento-navegador {
    display: block;
    padding: 1% 0;
  }

  .navegador
    .elementos-navegador
    .elemento-navegador
    .texto-elemento-navegador {
    color: black;
  }

  .contenedor-testimonios {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .datos-cliente {
    padding-top: 1rem;
  }

  .contenedor-acerca {
    flex-direction: column;
  }

  .contenedor-testimonios {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
  }
}

/* display: none; impide que se muestre en la pagina
visibility: hidden; oculta el elemento pero igual afecta la pagina(dimensiones)
*/

/*vh y vw es relativo al tamanio de la pantalla*/
